.btn {
  font-size: 14px;
  height: 32px;
  padding: 4px 15px;
  border-radius: 6px;
  outline: none;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  user-select: none;
  touch-action: manipulation;
  line-height: 1.5714285714285714;
  color: rgba(0, 0, 0, 0.88);
}

.btn-lg {
  font-size: 16px;
  height: 40px;
  padding: 6.428571428571429px 15px;
  border-radius: 8px;
}

.btn-default {
  background-color: #ffffff;
  border-color: #d9d9d9;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}

.btn-primary:not(:disabled):hover {
  color: #fff;
  background-color: #4096ff;
}

.btn-primary:not(:disabled):active {
  color: #fff;
  background-color: #0958d9;
}

.btn-danger {
  color: #ff4d4f;
  border-color: #ff4d4f;
}

.btn-danger:not(:disabled):hover {
  color: #ff7875;
  border-color: #ffa39e;
}

.btn-danger:not(:disabled):active {
  color: #ff7875;
  border-color: #ffa39e;
}

/* .btn-text {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
} */

.btn-text:not(:disabled):hover {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(0, 0, 0, 0.06);
}

.btn-text:not(:disabled):active {
  color: rgba(0, 0, 0, 0.88);
  background-color: rgba(0, 0, 0, 0.15);
}

.btn-default:not(:disabled):hover {
  color: #4096ff;
  border-color: #4096ff;
}

.btn-default:not(:disabled):active {
  color: #0958d9;
  border-color: #0958d9;
}
